# Файл должен начинаться с тега версии. Используем последнюю.
version: '3'
services:
  postgres:
    build:
      context: ./postgres
    env_file:
      - .env
    #    ports:
    #      - 5434:5432
    volumes:
      - movies_db:/var/lib/postgresql/data
    restart: always
    networks:
      - backend

  backend:
    build:
      context: ./app
    volumes:
      - ./host_volume:/internal_volume
      - backend_static:/app/static
    depends_on:
      - postgres
    restart: always
    networks:
      - internal_bridge
      - backend
  nginx_async:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - backend_static:/data/static
      - fastapi_static:/data/fastapi_static
    depends_on:
      - backend
    ports:
      - 80:80
    restart: always
    networks:
      - internal_bridge
      - services_network

  elastic:
    build:
      context: ./elastic
    environment:
      discovery.type: "single-node"
      ES_JAVA_OPTS: "-Xms1000m -Xmx1000m"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - backend

  etl:
    build:
      context: ./etl
    depends_on:
      - postgres
      - elastic
      - backend
    networks:
      - backend

  redis:
    image: redis:7.0
    volumes:
      - redisdata:/data
    networks:
      - backend

  fastapi:
    build:
      context: ./fastapi
    volumes:
      - fastapi_static:/app/src/static
    depends_on:
      - postgres
      - elastic
      - backend
      - redis
    networks:
      - internal_bridge
      - backend
      - services_network

# Указываем Docker, какие именованные тома потребуются сервисам
volumes:
  backend_static:
  movies_db:
  esdata:
  redisdata:
  fastapi_static:

networks:
  backend:
  internal_bridge:
  services_network:
    external: true