# Файл должен начинаться с тега версии. Используем последнюю.
version: '3'
services:
  postgres:
    build:
      context: ./postgres
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - movies_db:/var/lib/postgresql/data
    restart: always

  backend:
    build:
      context: ./app
    volumes:
      - ./host_volume:/internal_volume
      - backend_static:/app/static
    depends_on:
      - postgres
    restart: always

  nginx:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - backend_static:/data/static
    depends_on:
      - backend
    ports:
      - 80:80
    restart: always

  elastic:
    build:
      context: ./elastic
    environment:
      discovery.type: "single-node"
      ES_JAVA_OPTS: "-Xms1000m -Xmx1000m"
    ports:
      - 9200:9200
    volumes:
      - esdata:/usr/share/elasticsearch/data

  etl:
    build:
      context: ./etl
    depends_on:
      - postgres
      - elastic
      - backend

  redis:
    image: redis:7.0
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data

  fastapi:
    build:
      context: ./fastapi
    ports:
      - 8000:8000
    depends_on:
      - postgres
      - elastic
      - backend
      - redis

# Указываем Docker, какие именованные тома потребуются сервисам
volumes:
  backend_static:
  movies_db:
  esdata:
  redisdata: