{% extends "base.html" %}

{% block content %}
<div class="container">
<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="profile-header-content">
            <div class="profile-header-img mb-4">
                <img {%if user.profile_picture_finded %} src="/static/img/{{user.id}}_profile_picture.png" {%else%} src="/static/img/standart_profile_picture.png" {%endif%} class="mb-4" alt="" />
            </div>
            <div class="profile-header-info">
                <h4 class="m-t-sm">{{user.name}} {{user.surname}}</h4>
                {%if user.profile_picture_finded %}
                <a class="btn btn-sm btn-outline-danger" href="/delete_profile_picture">Удалить фотографию профиля </a>
                {%endif%}
            </div>
        </div>

        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="/profile_opened_tasks/{{user.id}}" class="nav-link" data-toggle="tab">Открытые мероприятия</a></li>
            <li class="nav-item"><a href="/profile/{{user.id}}" class="nav-link active show" data-toggle="tab">Друзья</a></li>
            {% if current_user.id == user.id %}
                <li class="nav-item"><a href="/profile_edit/{{user.id}}" class="nav-link" data-toggle="tab">Редактировать</a></li>
                <li class="nav-item"><a href="/profile_find_friends" class="nav-link" data-toggle="tab">Найти друзей</a></li>
                <li class="nav-item"><a href="/profile_friend_requests" class="nav-link" data-toggle="tab">Заявки в друзья</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="profile-container">
        <div class="row row-space-20">
            <div class="col-md-8">
                <div class="tab-content p-0">

                    <div class="tab-pane fade active show" id="profile-friends">
                        <div class="m-b-10"><b>Список друзей</b></div>
                        <ul class="friend-list clearfix">
                            {% for friend in user.friend_list %}
                                <li>
                                    <a href="/profile/{{friend.id}}">
                                        <div class="friend-img"><img {%if friend.profile_picture_finded %} src="/static/img/{{friend.id}}_profile_picture.png" {%else%} src="/static/img/standart_profile_picture.png" {%endif%}/></div>
                                        <div class="friend-info">
                                            <h4>{{friend.name}} {{friend.surname}}</h4>
                                        </div>
                                    </a>
                                    {% if current_user.id == user.id %}
                                        <a class="btn btn-sm btn-outline-danger" href="/friend_delete/{{friend.id}}">Удалить</a>
                                    {% endif %}
                                </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 hidden-xs hidden-sm">
                <ul class="profile-info-list">
                    <li class="title">О себе:</li>
                    <li>
                        <div class="field">Дата рождения:</div>
                        <div class="value">{{user.date_of_birth_str}}</div>
                    </li>
                    <li>
                        <div class="field">Страна проживания:</div>
                        <div class="value">{{user.country_name}}</div>
                    </li>
                    <li>
                        <div class="field">Город проживания:</div>
                        <div class="value">{{user.city_from}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}