RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=rabbitmq_user
RABBIT_PASSWORD=rabbitmq_pass
RABBIT_MAX_PRIORITY=10

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=mongo_user
MONGO_PASSWORD=mongo_password
MONGO_DB_NAME=database

MAILJET_API_KEY=some_api_key
MAILJET_SECRET_KEY=some_secret_key