# Файл должен начинаться с тега версии. Используем последнюю.
version: '3'
services:
  postgres:
    build:
      context: ./postgres
#    ports:
#      - 5434:5432
    env_file:
      - ./postgres/.env
    volumes:
      - auth_db:/var/lib/postgresql/data
    restart: always
    networks:
      - backend

  flask:
    build:
      context: ./auth_service/app
    depends_on:
      - postgres
      - redis
    volumes:
      - flask_static:/app/static
    restart: always
    networks:
      - backend
      - internal_bridge

  nginx_auth:
    image: nginx:1.23.0
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - flask_static:/data/static
    depends_on:
      - flask
    ports:
      - 81:81
    restart: always
    networks:
      - internal_bridge
      - services_network

  redis:
    image: redis:7.0
    volumes:
      - redisdata:/data
    networks:
      - backend

# Указываем Docker, какие именованные тома потребуются сервисам
volumes:
  auth_db:
  redisdata:
  flask_static:

networks:
  backend:
  internal_bridge:
  services_network:
    external: true