KAFKA_HOST=notify_kafka_pipeline
KAFKA_PORT=9092

REFRESH_URL=http://nginx_auth:80/api/v1/refresh

TOKEN=asdasdasd
REFRESH_TOKEN=asdasdasd

TOPICS_NAMES=["email_confirmation","password_generation"]
NOTIFY_API_ENDPOINT=http://nginx_notify:83/fapi/api/v1/notifications

EMAIL_CONFIRMATION_TEMPLATE_UUID=1a2ced1c-0d9a-4015-bfda-77db82450f4f
PASSWORD_GENERATION_TEMPLATE_UUID=90a28808-3b24-4cfa-a5ac-405570815968
