name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9", ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8==5.0.4
          pip install mypy
          pip install -r ./auth_service_compose/auth_service/app/requirements.txt
          pip install -r ./docker_compose/app/requirements.txt
          pip install -r ./docker_compose/etl/requirements.txt
          pip install -r ./docker_compose/fastapi/requirements.txt
          pip install -r ./fake_data_to_postgres/requirements.txt
          pip install -r ./ugc_compose/fake_data_kafka_producer/requirements.txt
          pip install -r ./ugc_compose/fastapi/requirements.txt

      - name: Flake8
        run: flake8 .

      - name: Archive html linter results
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: linter-result
          path: flake-report

      - name: mypy
        run: |
          mypy ./auth_service_compose/auth_service/app/
          mypy ./docker_compose/app/
          mypy ./docker_compose/etl/
          mypy ./docker_compose/fastapi/src/
          mypy ./fake_data_to_postgres/
          mypy ./ugc_compose/fake_data_kafka_producer/
          mypy ./ugc_compose/fastapi/src/

  notify:
    needs: linter
    runs-on: ubuntu-latest
    steps:
      - name: Notification in Telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Pipeline finished
            Commit message: ${{ github.event.commits[0].message }}
            
            Repository: ${{ github.repository }}
            
            See changes: https://github.com/${{ github.repository }}/commit/${{github.sha}}